:root {
  --background: rgb(231, 37, 37);
  --topBackgorund: #4b6bfb;
  --titleColor: #dbe2ff;
  --buttons: #f0f0f0;
  --letters: #111;
}

[data-theme="dark"] {
  --background: rgb(233, 233, 233);
  --topBackgorund: #37332f;
  --titleColor: #ded7ce;
  --buttons: #6b6b6b;
  --letters: #fff;
}

.body {
  font-family: sans-serif;
  overflow: hidden;
}

.app {
  color: var(--background);
}

.disabled {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameOver {
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 400px;
  height: 450px;
  z-index: 1000;
  color: #000000;
  background-color: #ffffff;
  z-index: 100000;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

@media (max-width: 670px) {
  .gameOver {
    width: 350px;
    height: 460px;
  }
}

.gameOver > h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
}
.gameOver > h4 {
  font-family: sans-serif;
  /* font-weight: bold; */
  font-weight: 400;
  font-size: 18px;
  margin-top: 0px;
}

.X {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  /* color: var(--letters); */
}

.ventana {
  border: 1px solid red;
  height: 200px;
  width: 200px;
}

.images {
  display: flex;
  gap: 30px;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 7px solid #f0f0f0;
  width: 140px;
  height: 140px;
}

.names {
  /* border: 1px solid red; */
  /* margin-top: 10px; */
  width: 90%;
  display: flex;
  justify-content: space-around;
  /* margin: 0 60px; */
}

.names > h3 {
  font-family: sans-serif;
  font-size: 18px;
  margin: 15px 20px;
}

.win {
  border: 7px solid rgb(21, 202, 52);
}

.lose {
  border: 7px solid #f0f0f0;
}

.newGame {
  margin-top: 15px;
  /* border: 1px solid red; */
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newGame > button {
  border: none;
  width: 120px;
  height: 55px;
  background-color: #67cba0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
}

.newGame > button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.board {
  margin: 0 auto;
  width: 60%;
  /* height: calc(100vh - 57px); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

@media (max-width: 1600px) {
  .board {
    width: 80%;
  }
}

@media (max-width: 1250px) {
  .board {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .board {
    flex-direction: column;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
